 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, serif;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8ACDD7;
    padding: 20px 50px;  
    position: relative;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logo{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.toggle-button{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.toggle-button .bar{
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: #fff;
    margin: 3px 0px;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li{
    margin-right: 25px;
}
.nav-links li a{
    font-size: 18px;
    font-weight: 600;
    color:  #fff;
    text-decoration: none;
    transition: 0.4s ease;
}
.nav-links li a:hover{
    color: #F875AA;
}
a:hover{
    color: #F875AA;
}
#bar{
    display: none;
    font-size: 25px;
}
.logo span{
    color: #F875AA;
}
.home-page{
    max-width: 1350px;
 padding-top: 70px;
 display: flex;
 justify-content: space-between;
  
}
img{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform; 
}
img:hover, img:focus, img:active{
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5);
}
.left{
    padding-top: 140px;
    padding-left: 100px;
}
.left h1{
    color: #8ACDD7;
    padding-bottom: 20px;
}
.left span{
    color: #F875AA;
}
.left p{
    max-width: 560px;
    line-height: 25px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 17px;
    color: #adb5bd;
}
.right img{
    height: 500px;
    max-width:  500px;
    margin-top: 90px;
}
.btn-1{
    padding: 15px;
    font-size: 17px;
    border-radius: 50px;
    background-color: #8ACDD7;
    color: #fff;
     border: none;
     cursor: pointer;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: box-shadow, transform;
     transition-property: box-shadow, transform;
}
.btn-1:hover, .btn-1:focus, .btn-1:active{
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5);
}
.about-section{
    max-width: 1500px;
}
.about-section h1,
.work-section h1,
.contact-section h1,
.skill-section h1,
 .information h1{
    text-align: center;
    margin-top: 90px;
    color: #F875AA;
    cursor: pointer;
    margin-bottom: 80px;
    }
    h1:hover{
        text-decoration: underline;
        color: #8ACDD7;
        transition: 0.5s ease;
    }
    .about-section h1{
        margin-bottom: -5px;
    }
    .left-1 img{
        border-radius: 50%;
        height: 400px;
        max-width: 400px;
    }
    .left-1,
    .left-2{
        padding-left: 100px;
    }
    .right-1 h2,
    .left-2,
    .project-section h2{
        padding-top: 50px;
        color: #8ACDD7;
    }
    .right-1 span,
    .left-2 span,
    .project-section span{
        color: #F875AA;
    }
    .about-page,
    .work-page{
        display: flex;
        justify-content: space-between;
        max-width: 1360px;
    }
    .right-1 p,
    .work-page p{
    max-width: 670px;
    padding-top: 20px;
    line-height: 25px;
    font-weight: 600;
    font-size: 17px;
    color: #adb5bd;
    margin-bottom: 30px;
    }
    .work-section h1{
        padding-top: 70px;
    }
    .left-2 h2{
        margin-top: -50px;
    }
    .right-2 img{
        max-width: 500px;
        height: 630px;
        border-radius: 30px;
    }
     .skills-area{
        max-width: 1100px;
        display: flex;
        flex-direction: column;
     }
     .skill{
        width: 100%;;
        margin-bottom: 25px;
     }
     .skill-title{
       margin-left: 90px;
        color: #F875AA;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
     }
     .skill-bar{
        width: 100%;
        background: rgba( 255, 255, 255, 0.6);
        height: 20px;
        z-index: -1;
        border-radius: 100px;
        position: absolute; 
     }
     .skill-fill{
        margin-left: 90px;
        background: #8ACDD7;
        height: 18px;
        border-radius: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
        overflow: hidden;
     }
     .skill-percent{
        
        font-size: 15px;
        color: #F875AA;
        font-weight: 800;
     }
     .html,
     .bootstrap {     
        width: 90%;
     }
     .css,
     .responsive{
        width: 80%;
     }
     .javascript{
        width: 70%;
     }
     .react,
     .github{
        width: 50%;
     }
    .project-section{
        margin-top: -510px;
        margin-left: 100px;
    }
    .project-section li span{
        font-size: 19px;
        padding-right: 7px;
        cursor: pointer;
    }
    .project-section li span:hover{
        text-decoration: underline;
    }
    .project-section .color-1{
        color: #8ACDD7;
    }
    .project-section ul{
        list-style: none;
    }
     .project-section ul li{
        padding-top: 20px;
     }
     .project-section i{
        color: #adb5bd;
     }
     .contact-page{
        max-width: 1500px;
        height: 300px;
        background-color: #8ACDD7;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     }
     .round{
        height: 90px;
        width: 90px;
        border-radius: 50%;
        background-color: #F875AA;
        margin-bottom: 20px;
        margin-left: 10px;
        cursor: pointer;
        -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: box-shadow, transform;
     transition-property: box-shadow, transform;
     }
     .round:hover, .round:focus, .round:active{
        box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5);
        color: #8ACDD7;
     }
     .round i{
        font-size: 30px;
        display: flex;
        padding-top: 30px;
        align-items: center;
        justify-content: center;
     }
     .d-flex{
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
     }
     .contact-page p{
        max-width: 200px;
        line-height: 25px;
        font-size: 17px;
        margin-left: -15px;
     }
     .footer-section{
        max-width: 1500px;
        height: 420px;
        background-color: #8ACDD7;
        box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5);
     }
     .footer-page{
       max-width: 1300px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding-top: 70px;
        color: #fff;
        cursor: pointer;
     }
     .footer-page h2{
        color: #F875AA;
        font-size: 25px;
     }
     .footer-page h2:hover{
        text-decoration: underline;
        color: #fff;
        transition: 0.5s ease;
     }
     .footer-page ul li:hover{
        text-decoration: underline;
        color: #F875AA;
        transition: 0.5s ease;
     }
     .footer-page p:hover{
        text-decoration: underline;
        color: #F875AA;
        transition: 0.5s ease;
     }
     .footer-page p{
        max-width: 400px;
        font-size: 18px;
        line-height: 23px;
        margin-top: 15px;
        font-weight: 500;
     }
     .footer-section ul li {
        list-style: none;
        margin-top: 15px;
        font-size: 19px;
        font-weight: 500;
     }
     .icons{
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
     }
     .icons i{
        font-size: 30px;
        color: #fff;
     }
     .round-icon{
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: #F875AA;
        margin-bottom: 20px;
        margin-left: 10px;
        cursor: pointer;
        -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: box-shadow, transform;
     transition-property: box-shadow, transform;
     }
     .round-icon i{
        font-size: 25px;
        display: flex;
        padding-top: 25px;
        align-items: center;
        justify-content: center;
     } 
     .round-icon:hover, .round-icon:focus, .round-icon:active{
        box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5);
     }
     .copyright{
        max-width: 1500px;
        height: 50px;
        background-color: #F875AA;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding-top: 13px;
     }
  

@media only screen  and (max-width: 600px){
    .navbar{
        height: 80px;
        margin-top: 50px;
        padding: 20px 25px;
    }
    .toggle-button{
        display: flex;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: #8ACDD7;
        padding: 25px;
        top: 100%;
        left: 0;
    }
    .nav-links li{
        padding: 12px 0px;
    }
    .nav-links.active{
        display: block;
    }
    .home-page,
    .about-page,
    .work-page{
        display: block;
        padding-top: 0;
    }
    .left{
        margin-top: -60px;
        margin-left: -60px;
    }
    .left h1,
    .about-section h1,
    .work-section h1{
        margin-top: 20px;
        font-size: 26px;
    }
    .skill-section h1,
    .contact-section h1{
       margin-top: 50px;
       margin-bottom: 30px;
    }  
    .left p,
    .right-1 p,
    .left-2 p{        
        font-size: 15px;
        max-width: 315px;
    }
    .btn-1{
        padding: 10px;
        margin-left: 90px;
    }
    .right img{
        width: 100%;
        height: 320px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .left-1 img{
        max-width: 260px;
        height: 260px;
        margin-left: -50px;
        margin-top: 40px;
    }
    .right-1{
        padding-left: 40px;
    }
    .left-2{
        margin-left: -60px;
    }
    .right-2 img{
        width: 80%;
        height: 320px;
        margin-left: 35px;
    }
    .work-section h1{
        margin-bottom: 50px;
    }
    .project-section{
        margin-top: 10px;
        max-width: 240px;
        display: block;
    }
    .project-section ul li{
       overflow: hidden;
        margin-left: -60px;
    }
    .project-section ul li span{
        max-width: 300px;
        font-size: 16px;
    }
    .contact-page{
        height: 720px;
    }
    .round{
        margin-left: 80px;
    }
    .round {
        margin-top: 20px;
    }
    .d-flex{
        overflow: hidden;
        display: block;
        margin-left: 40px;
    }
    .d-flex h3{
        margin-left: 70px;
    }
    .d-flex p{
        max-width: 250px;
        margin-left: 45px;
    }
    .skill{
        overflow: hidden;
    }
    .skill-title,
    .skill-fill{
        font-size: 16px;
        margin-left: 25px;
    } 
    .footer-section{
        height: 1060px;
    }
    .footer-page{
        display: block;
       padding-left: 30px;
    } 
    .footer-page h2{
        margin-top: 20px;
    }
    .footer-page p{
        max-width: 320px;
    }
    .icons{
        max-width: 300px;
    }
    .round-icon{
        height: 60px;
        width: 60px;
    }
    .round-icon i{
        padding-top: 20px;
        font-size: 20px;
    }

}  
   
  
 
     